
@font-face {
  font-family: 'Norse Bold';
  src: url('font/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans&display=swap');

:root{
  --margin-left: 50px;
  --viking: 'Norse Bold';
}
*{
  margin: 0;
  padding: 0;
}

body{
padding: 0;
margin: 0;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: row;
font-family: 'Playfair Display', serif;

}
  
.seccion-1 {
    
width: 780px;
height: 900px;
background-image: url('./images/elliot-gouy-F8bdSXLyO1M-unsplash.jpg'); /* Ajusta la ruta según la estructura de tu proyecto */
background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
}
.seccion-2{
  
  padding: 0;
}


#formulario{
  display: flex;
  flex-direction: row;
  margin-left: var(--margin-left);
    
}

#texto1{
  background-color: rgb(235 234 234);
  padding: 10px;
  width: 69rem;
  height: 20rem;
  margin-left: 0;
  /* font-size: 1.3rem; */
}

.texto-1{
  position: relative;
  top: 100px;
  left: var(--margin-left);
  
  
}
.texto{
  margin-left: var(--margin-left);
}
#first-clumn{
  margin-left: var(--margin-left);
}

#second-column{
  margin-left: 250px;
}

  