body{
    background-image: url(/images/elliot-gouy-F8bdSXLyO1M-unsplash.jpg);
    background-size: 45%;
    background-position: cover;
    background-repeat: no-repeat;
    background-color: rgba(20, 20, 20, 0.445);

}